#wrapper{
  width: 1000px;
  margin: auto;
}

svg{
  display: block;
  float:left;
  margin-right: 10px;
  margin-top: 10px;
}


/********** Spacecraft *********/

#rocket *{
    transition: all 1400ms ease-in;
}

#rocket{
  width: 320px;
  height: 320px;
  background-color: #f4f4f4;
  transition: background-color 200ms ease-in-out;
}

#rocket:hover{
  background-color: #2e3c42;
}

#rocket:hover .tank{
  transform:translate(100px, 500px) rotate(30deg);
}

.thruster-1, .thruster-2, .tank{
  transform: rotate(0deg);
}

#rocket:hover .thruster-1{
  transform:translate(-300px, 800px) rotate(-60deg);
}

#rocket:hover .thruster-2{
  transform:translate(400px, 800px) rotate(60deg);
}

#rocket:hover .s-star{
  animation: starTranslate 14s infinite linear;
}

#rocket:hover .x-star{
  animation: starTranslate 7s infinite linear;
}

@keyframes starTranslate{
  from{
    transform: translateY(-300px);
  }
  to{
    transform: translateY(300px);
  }
}




